.main__subtitle {
  text-align: center !important;
  padding-left: 16px !important;
  padding: 19px;
  padding-right: 16px !important;
  padding-top: 2px !important;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.labelForValidation {
  position: absolute;
  top: 50%;
  right: 8px; /* Adjust the right offset as needed */
  transform: translateY(-50%);
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    position: absolute;
    bottom: 65%;
    left: 101%;
    width: 60%;
    padding: 8px;
    box-sizing: border-box;
}
.offscreen {
  position: absolute;
  left: -9999px;
}